body {
    overflow-x: hidden !important;
    background-color: #cecece;
}
#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 12vh;
    z-index: 10;
    display: flex;
    align-items: center;
}

li{
    mix-blend-mode: difference;
}

#focus {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -10;
}
#focus img{
    max-width: 70vh;
    margin-right:1vw;
    margin-top: 20vh;
    rotate: 90deg;
}

.circle {
    padding-top: 20vh;
    width: 100vw; /* Adjust the size as needed */
    height: 100vh;
    background-image: radial-gradient(circle, transparent 30%, #cecece 30%);
    border-radius: 0%;
    position: absolute;
    z-index: -10;
}

.circle.animate {
    animation: fadeIn 1.5s cubic-bezier(0, 0, 0.01, 1) forwards,
               expand 20s 1.5s cubic-bezier(0.5, 0, 0.5, 1) forwards;
}

@keyframes fadeIn {
    from {
        transform: scale(3);
    }
    to {
        transform: scale(1);
    }
}

@keyframes expand {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

#gross {
    width: auto;
    height: 100lvh;
    z-index: -11;
    position: absolute;
    justify-content: center;
    align-items: center;
}

#grossbg {
    z-index: -12; 
    position: absolute; 
    width: 100vw; 
    height: 100lvh; 
    background-color: black;
}

.works {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    gap: 20px;
}
.works img{
    max-height: 80vh;
}

#workshorizontalsub1 img{
    height: 80vh;
}

#workshorizontalsub1 {
    display: flex;
    margin-left: 1vw;
    flex-direction: row;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    gap: 20px;
}

#workshorizontalsub1.active {
    cursor: grabbing;
}

#workshorizontalsub {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

#scrollLeftBtn {
    border: none;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    margin-top: 2.5vh;
    height: 75vh;
    width: 15vw;
    background-color: black;
    opacity: 0.1;
    color: white;
    font-size: 40px;
    /* Additional styling */
}

#scrollLeftBtn:hover {
    background-color: black;
    opacity: 0.2;
    transform-origin: left;
    transform: scale(1.5,1);
}

#scrollRightBtn {
    border: none;
    position: absolute;
    right: -1vw;
    cursor: pointer;
    z-index: 10;
    margin-top: 2.5vh;
    height: 75vh;
    width: 15vw;
    background-color: black;
    opacity: 0.1;
    color: white;
    font-size: 40px;
}

#scrollRightBtn:hover {
    background-color: black;
    opacity: 0.2;
    transform-origin: right;
    transform: scale(1.5,1);
}

@media (max-width: 1024px) {
    #scrollLeftBtn {
        display: none !important;
    }
    #scrollRightBtn {
        display: none !important;
    }
}

