body, html {
    overflow: hidden;
    height: 100%;
}

#scrollplaycover {
    position: relative;
}
#header {
    position: absolute;
    z-index: 10;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    width: 100vw;
    height: 12vh;
    z-index: 10;
    align-items: center;
}

.scrollWrapper {
    position: relative;
    width: 100vw; /* Viewport width */
    overflow: hidden; /* Hide overflow including the scrollbar */
    height: 100vh; /* Adjust based on your needs */
    display: flex;
    object-fit: fill;
    background-color: black;
}

#scrollContainer {
    max-width: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll; /* Ensure vertical scrolling is still possible */
    overflow-x: hidden;
}

#scrollVideo {
    height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;
    object-fit: cover;
    object-position: top left;
}

#videoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: none; /* Initially hidden */
    z-index: 1;
}

#topbtn {
    display: none;
    /* Add additional styling for your 'Back to Top' button */
}
#progressBar {
    width: 0%;
    height: 5px;
    background-color: blue;
    /* Add additional styling for your progress bar */
}

#animationContainer {
    position: absolute; /* or 'absolute' depending on your needs */
    z-index: 10; /* Higher than other elements */
    padding-bottom: 5vh;
    bottom: 0; /* Anchors it to the bottom */
    left: 0;
    right: 0;
    margin: auto;
    width: 20vw; /* Adjust based on your needs */
    height: auto; /* Adjust based on your needs */
    pointer-events: none; /* Allows clicks to pass through */
}